doctype html
html.full-height(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        block title 
            title base
        // Font Awesome
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        // Bootstrap core CSS
        link(href='/mdbootstrap/css/bootstrap.min.css', rel='stylesheet')
        // Material Design Bootstrap
        link(href='/mdbootstrap/css/mdb.min.css', rel='stylesheet')
        // Your custom styles (optional)
        link(href='/mdbootstrap/css/style.css', rel='stylesheet')
        // Font
        link(href='https://fonts.googleapis.com/css?family=Prompt:300', rel='stylesheet')
        style.
            body{
                font-family: 'Prompt', sans-serif;
            }
        // Angular
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js', defer='')
        // JQuery
        script(type='text/javascript', src='/mdbootstrap/js/jquery-3.2.1.min.js', defer='')
        // Bootstrap tooltips
        script(type='text/javascript', src='/mdbootstrap/js/popper.min.js', defer='')
        // Bootstrap core JavaScript
        script(type='text/javascript', src='/mdbootstrap/js/bootstrap.min.js', defer='')
        // MDB core JavaScript
        script(type='text/javascript', src='/mdbootstrap/js/mdb.min.js', defer='')
        
        block myScript
    block vars
        - var bodyClass = '';
    body(class='#{bodyClass}',ng-app='myApp', ng-controller='myCtrl')
        block content
            p content
    