
nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.indigo
  .container
    a.navbar-brand(href='#')
      i.fa.fa-bus(aria-hidden="true")
      strong(style="color:#ff6060")  Thaivan
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='#')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') Link
        li.nav-item
          a.nav-link(href='#') Profile
      
      ul.nav.navbar-nav.nav-flex-icons.ml-auto
        //li.nav-item
          a.nav-link
            i.fa.fa-envelope
            span.clearfix.d-none.d-sm-inline-block Contact
        //li.nav-item
          a.nav-link
            i.fa.fa-comments-o
            span.clearfix.d-none.d-sm-inline-block Support
        //li.nav-item
          a.nav-link
            i.fa.fa-user
            span.clearfix.d-none.d-sm-inline-block Account
        
        if sess    
          li.nav-item.dropdown
            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              i.fa.fa-user
              |  คุณ #{UsrData.user_firstname} #{UsrData.user_lastname} 
            .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
              a.dropdown-item(href='#') Action
              a.dropdown-item(href='#') Another action
              a.dropdown-item(href='#',ng-click="Logout()") ออกจากระบบ
        else
          li.nav-item
            a.nav-link(href='', data-toggle='modal', data-target='#modalLoginForm')
              i.fa.fa-sign-in(aria-hidden="true")
              span.clearfix.d-none.d-sm-inline-block เข้าสู่ระบบ
          li.nav-item
            a.nav-link(href='', data-toggle='modal', data-target='#modalRegisterForm')
              i.fa.fa-pencil-square-o(aria-hidden='true')
              span.clearfix.d-none.d-sm-inline-block ลงทะเบียน